<div class="container mt-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Our Team</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/assets/img/domi.jpeg">
                <div class="card-body text-center">
                    <h5 class="card-title">Dominique Gherghe</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/assets/img/manu.jpeg">
                <div class="card-body text-center">
                    <h5 class="card-title">Manu Wanlin</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="">
                <div class="card-body text-center">
                    <h5 class="card-title">Nicolas Herschke</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="">
                <div class="card-body text-center">
                    <h5 class="card-title">Stijn van der Auwera</h5>
                </div>
            </div>
        </div>
    </div>
</div>
