<div class="container mt-5">
  <div class="row mt-5 mb-3">
    <h1>Vertical Garden</h1>
  </div>
  <div class="row">
    <h3 class="mx-auto">Input</h3>
  </div>
  <div class="row mt-2">
    <div class="card col-md-12 shadow">
      <div class="card-body">
        <div class="row">
          <p class="col-md-2">Maximum daily precipitation</p>
          <p class="col-md-2">{{ precipitation }} mm/day</p>
          <p class="col-md-8">
            (The maximum amount of rainfall during a day in mm: e.g. the
            heaviest rainfall on 1 day in Valencia is around 300mm.)
          </p>
        </div>
        <div class="row">
          <p class="col-md-2">Expected lifespan</p>
          <p class="col-md-2">{{ lifespan }} year(s)</p>
          <p class="col-md-8">
            (The amount of years that the vertical garden is expected to
            function. The literature recommends the minimum lifespan of 20
            years.)
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div *ngIf="method === 'wall-size'" class="card col-md-12 shadow">
      <div class="card-body">
        <h5 class="card-title text-center">Calculated with Wall Size</h5>
        <hr />
        <div class="row">
          <p class="col-md-2">Wall Size</p>
          <p class="col-md-2">{{ wallSize }}</p>
          <p class="col-md-8">
            The surface size of the vertical garden in square meters.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="method === 'investment'" class="card col-md-12 shadow">
      <div class="card-body">
        <h5 class="card-title text-center">Calculated with Investment</h5>
        <hr />
        <div class="row">
          <p class="col-md-2">Investment</p>
          <p class="col-md-2">{{ investment }}</p>
          <p class="col-md-8">
            The investment that is available to construct the green roof in
            Euro.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="mx-auto">Output</h3>
  </div>
  <div class="row mt-3 mb-5">
    <div class="card col-md-12 shadow">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Environmental</a>
            <ng-template ngbNavContent>
              <div class="row mt-4">
                <div class="col-md-6">
                  <h5 class="text-center">Air Quality</h5>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <p class="col-md-6">
                          NO<sub>2</sub>
                          <fa-icon
                            class="ml-2"
                            [icon]="faQuestionCircle"
                          ></fa-icon>
                        </p>
                        <p class="col-md-3">
                          {{ data.NO2_MIN }}–{{ data.NO2_MAX }}
                        </p>
                        <p class="col-md-3">%</p>
                      </div>
                      <div class="row">
                        <p class="col-md-6">SO<sub>2</sub></p>
                        <p class="col-md-3">{{ data.SO2 }}</p>
                        <p class="col-md-3">%</p>
                      </div>
                      <div class="row">
                        <p class="col-md-6">PM10</p>
                        <p class="col-md-3">
                          {{ data.PM10_MIN }}–{{ data.PM10_MAX }}
                        </p>
                        <p class="col-md-3">%</p>
                      </div>
                      <div class="row">
                        <p class="col-md-6">CO<sub>2</sub></p>
                        <p class="col-md-3">
                          {{ calculationService.co2min | number }}–{{
                            calculationService.co2max | number
                          }}
                        </p>
                        <p class="col-md-3">g/{{ lifespan }} year(s)</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="text-center">Water Quality</h5>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <p class="col-md-6">Nitrates</p>
                        <p class="col-md-3">
                          {{ data.NO3_REDUCTION_MIN }}–{{
                            data.NO3_REDUCTION_MAX
                          }}
                        </p>
                        <p class="col-md-3">%</p>
                      </div>
                      <div class="row">
                        <p class="col-md-6">Total Suspended Solids</p>
                        <p class="col-md-3">
                          {{ data.TSS_REDUCTION_MIN }}–{{
                            data.TSS_REDUCTION_MAX
                          }}
                        </p>
                        <p class="col-md-3">%</p>
                      </div>
                      <div class="row">
                        <p class="col-md-6">Phosphor</p>
                        <p class="col-md-3">
                          {{ data.P_REDUCTION_MIN }}–{{ data.P_REDUCTION_MAX }}
                        </p>
                        <p class="col-md-3">%</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <h5 class="text-center">Energy Use</h5>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <p class="col-md-6">Energy Use</p>
                        <p class="col-md-3">
                          {{ data.ENERGY_REDUCTION_MIN }}–{{
                            data.ENERGY_REDUCTION_MAX
                          }}
                        </p>
                        <p class="col-md-3">%</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="text-center">Water Quantity</h5>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <p class="col-md-6">Retained Water</p>
                        <p class="col-md-3">
                          {{ calculationService.retentionMin | number }}–{{
                            calculationService.retentionMax | number
                          }}
                        </p>
                        <p class="col-md-3">mm/day</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <h5 class="text-center">Noise</h5>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <p class="col-md-6">Noise Reduction</p>
                        <p class="col-md-3">
                          {{ data.NOISE_REDUCTION_MIN }}–{{
                            data.NOISE_REDUCTION_MAX
                          }}
                        </p>
                        <p class="col-md-3">dB</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="text-center">Temperature</h5>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <p class="col-md-6">Outdoor</p>
                        <p class="col-md-3">
                          {{ data.TEMPERATURE_OUTDOOR_MIN }}–{{
                            data.TEMPERATURE_OUTDOOR_MAX
                          }}
                        </p>
                        <p class="col-md-3">&deg;C</p>
                      </div>
                      <div class="row">
                        <p class="col-md-6">Indoor</p>
                        <p class="col-md-3">{{ data.TEMPERATURE_INDOOR }}</p>
                        <p class="col-md-3">&deg;C</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Social</a>
            <ng-template ngbNavContent>
              <p>
                Exercitation +1 labore velit, blog sartorial PBR leggings next
                level wes anderson artisan four loko farm-to-table craft beer
                twee. Qui photo booth letterpress, commodo enim craft beer
                mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo
                nostrud organic, assumenda labore aesthetic magna delectus
                mollit. Keytar helvetica VHS salvia yr, vero magna velit
                sapiente labore stumptown. Vegan fanny pack odio cillum wes
                anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                culpa terry richardson biodiesel. Art party scenester stumptown,
                tumblr butcher vero sint qui sapiente accusamus tattooed echo
                park.
              </p>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Economic</a>
            <ng-template ngbNavContent>
              <p>
                Sed commodo, leo at suscipit dictum, quam est porttitor sapien,
                eget sodales nibh elit id diam. Nulla facilisi. Donec egestas
                ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
                eget tincidunt eu, congue et odio. Duis pharetra et nisl at
                faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat
                volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
                bibendum est, eu tincidunt odio. Orci varius natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus. Mauris
                aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus
                nec tortor vel tellus pulvinar feugiat.
              </p>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <pre>Active: {{ active }}</pre>
      </div>
    </div>
  </div>
</div>
