<div class="container mt-5">
  <div class="col-md-12 mb-3">
    <h1>Data</h1>
  </div>
  <div class="col-md-12 mb-5">
    <table class="table table-sm table-bordered text-center">
      <thead>
        <tr>
          <th colspan="2" class="align-middle">Variable</th>
          <th class="align-middle">Notes</th>
          <th colspan="2" class="align-middle">
            Monetization [m<sup>2</sup>/year]
          </th>
          <th class="align-middle">Reference</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="align-middle">Value (min)</th>
          <th class="align-middle">Value (max)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="6">Environmental</th>
        </tr>
        <tr>
          <td rowspan="7" class="align-middle">Air Quality</td>
          <td class="align-middle">NO<sub>2</sub></td>
          <td class="align-middle">
            11,7%-40%. Regarding the reduction in ambient N0<sub>2</sub> levels,
            a Belgian study found that vertical gardens showed a reduction in
            NO<sub>2</sub> levels up to 40%. Another study that modelled the
            Effectiveness of Green Infrastructure for Improvement of Air Quality
            in Urban Street Canyons found reductions of 11,9% in NO<sub>2</sub>
            levels.
          </td>
          <td colspan="2" rowspan="6" class="align-middle">
            All included in total air quality improvement
          </td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1361920912000740"
            >
              Hans Michiels, Inge Mayeres, Luc Int Panis, Leo De Nocker, Felix
              Deutsch, Wouter Lefebvre, 2021</a
            >
            <hr />
            <a
              href="Thomas A. M. Pugh, A. Robert MacKenzie, J. Duncan Whyatt, and C. Nicholas Hewitt, 2012"
              >Thomas A. M. Pugh, A. Robert MacKenzie, J. Duncan Whyatt, and C.
              Nicholas Hewitt, 2012</a
            >
            <hr />
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">SO<sub>2</sub></td>
          <td class="align-middle">Reduction of 3.5%</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">PM2.5</td>
          <td class="align-middle">Reduction of 1.34%</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">PM10</td>
          <td class="align-middle">
            42%-60%. Amount of particles: 4.45±0.33×10700 PM10/m<sup>2</sup>
            on average. However, there was a significant inter-species
            variation.
          </td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">O<sub>3</sub></td>
          <td class="align-middle">Reduction of 40%</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">CO</td>
          <td class="align-middle">Reduction of 1.34%</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Total Air Quality Improvement</td>
          <td class="align-middle"></td>
          <td class="align-middle">0.012€</td>
          <td class="align-middle">0.014€</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132313002382#tbl6"
            >
              Katia Perini, Paolo Rosasco, 2013</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Carbon</td>
          <td class="align-middle">CO<sub>2</sub> sequestered</td>
          <td class="align-middle">
            The amount of CO<sub>2</sub> stored in one square meter of green
            wall 0.14–0.98kg.
          </td>
          <td class="align-middle">2.00€</td>
          <td class="align-middle">2.30€</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132316301895?casa_token=r_NdpXUHyB0AAAAA:vhnJmRoDw8QPf2ESpwNzlgXbG6KbDf6_tuCkxG8HUSQcKzbM-Ix-_HeUwNI85vdq6AQTMr2EdYc"
              >Sasima Charoenkit, Suthat Yiemwattana, 2016</a
            >
          </td>
        </tr>
        <tr>
          <td rowspan="3" class="align-middle">Water Quality</td>
          <td class="align-middle">Reduction in NO<sub>3</sub> (Nitrates)</td>
          <td class="align-middle">30-83%</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">
            <a
              href="https://www.bitc.org.uk/report/nature-based-solutions-to-the-climate-emergency-ignition-project/"
              >The IGNITION Project, 2020</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">
            Reduction in TSS (Total Suspended Solids)
          </td>
          <td class="align-middle">33-99%</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">
            <a
              href="https://www.bitc.org.uk/report/nature-based-solutions-to-the-climate-emergency-ignition-project/"
              >The IGNITION Project, 2020</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Reduction in P (Phosphorus)</td>
          <td class="align-middle">15-30%</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">
            <a
              href="https://www.bitc.org.uk/report/nature-based-solutions-to-the-climate-emergency-ignition-project/"
              >The IGNITION Project, 2020</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Water Retained</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            Green walls can retain up to 75 % of rainwater runoff. 1,2-4,3
            l/m<sup>2</sup>
            of vgs is retained.
          </td>
          <td class="align-middle">12.27€</td>
          <td class="align-middle">22.91€</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0043135419308668?casa_token=aQN8M14ZHssAAAAA:PjULtm-omVpZqxAGxqXmU4welnwrZDenyL1csqEX2aNWwQ_ARv_JhvFoXhX8NXBZI2trv81Y6Yw"
              >Veljko Prodanovica, Ankun Wang, Ana Deletic, 2019</a
            >
          </td>
        </tr>
        <tr>
          <td rowspan="2" class="align-middle">Temperature</td>
          <td class="align-middle">Outdoor</td>
          <td class="align-middle">
            1-4,1°C. A Thai study suggests that in a tropical climate, the
            temperature of LW substrate is reported to be lower than the ambient
            air temperature by 1–14°C in summer. These temperature reductions
            are much higher than the ones found by the ignition report, this is
            most likely due to the difference in climate between Manchester and
            Thailand. As reductions in temperature tend to be greater in warmer
            climates.
          </td>
          <td colspan="2" class="align-middle">
            This benefit has a social impact - Mitigation of Urban Heat Island
            Effect, but it is not monetized
          </td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132316301895?casa_token=r_NdpXUHyB0AAAAA:vhnJmRoDw8QPf2ESpwNzlgXbG6KbDf6_tuCkxG8HUSQcKzbM-Ix-_HeUwNI85vdq6AQTMr2EdYc"
              >Sasima Charoenkit, Suthat Yiemwattana, 2016</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Indoor</td>
          <td class="align-middle">4,8°C</td>
          <td colspan="2" class="align-middle">
            This is already taken into account in the value for 'energy
            reduction'
          </td>
          <td class="align-middle">
            <a
              href="https://www.bitc.org.uk/report/nature-based-solutions-to-the-climate-emergency-ignition-project/"
              >The IGNITION Project, 2020</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Reduction of Noise Pollution</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            5,5-9,8 dB. Price: too small to make a difference. A lot of better
            sound isolating options exist on the market.
          </td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">
            <a
              href="https://www.bitc.org.uk/report/nature-based-solutions-to-the-climate-emergency-ignition-project/"
              >The IGNITION Project, 2020</a
            >
            <hr />
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Energy Reduction in Heating and Cooling</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            The percentage of KiloWatt hour saved per year due to reduced energy
            use. A minimum of 10% and a maximum of 60% are used.
          </td>
          <td colspan="2" class="align-middle">
            This is already taken into account in the value for 'energy
            reduction'
          </td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132313002382#tbl6"
              >Katia Perini, Paolo Rosasco, 2013</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Total Environmental Avoided Costs</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">14.28€</td>
          <td class="align-middle">25.22€</td>
          <td class="align-middle"></td>
        </tr>
        <tr>
          <th colspan="6">Economic</th>
        </tr>
        <tr>
          <td class="align-middle">Membrane Longevity</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            Vertical greening systems increase the longevity of envelopes thanks
            to a protecting action from UV rays, temperature changes, acid rain,
            ice, and air pollution given by leaves and panels. The VGS analysed
            is installed on a plaster facade. The frequency of maintenance,
            which includes remaking of the coating layers and painting, depends
            on environmental conditions and also on the quality of the material
            and is around 25–30 years but it can also be done at lower
            frequencies (35 years). In this study it is estimated that without a
            green layer the renovation of the façade would have to be realized
            in the 35th year, while green lengthens the coating lifetime of 15
            years (incremental value assumed in the current examination for all
            solutions of considered). Therefore, at the end of the 50th year
            (the end of the life cycle assumed for this study), maintenance of
            the plaster façade should be considered. The longevity benefit is
            equal to the cost recovery that must have been done at the 35th year
            and the lower cost done a the 50th year due to a better condition of
            the plaster
          </td>
          <td colspan="2" class="align-middle">133,793.00€</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132318303603?via%3Dihub"
              >Katia Perini, Paolo Rosasco, 2018</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Property Value</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            The economic effects generated by the presence of vegetation on
            property values have been investigated in several studies. One
            assumed that a green wall would yield the same property increase as
            a “good tree cover” and the value increase interval for a property
            of 6–15% with a midpoint of 10.5%. In another one, it was estimated
            that hedges or green walls increase 3.9% the property value. The
            increases in annual rent of offices buildings assumed in another
            study vary from 1960 to 3550 (€/m<sup>2</sup>/year).
          </td>
          <td colspan="2" class="align-middle">4.33€</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132318303603?via%3Dihub"
              >Katia Perini, Paolo Rosasco, 2018</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Energy Reduction in Heating and Cooling</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            The percentage of KiloWatt hour saved per year due to reduced energy
            use. A minimum of 10% and a maximum of 60% are used.
          </td>
          <td class="align-middle">4.00€</td>
          <td class="align-middle">9.40€</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132313002382#tbl6"
              >Katia Perini, Paolo Rosasco, 2013</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Biomass Production</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            From 4th year after the installation, the plants pruning produced
            about 700 kg of biomass per year (4 mc of wood and green material)1
            which produced 8.4 Kwh of electric energy. In Italy, the repurchase
            price of energy produced from renewable resources is 0.10 €/kwh
            (2017), therefore, for each year within the lifespan of VGS, the
            economic benefit from the biomass production is 2.12€.
          </td>
          <td colspan="2" class="align-middle">2.12€</td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132318303603?via%3Dihub"
              >Katia Perini, Paolo Rosasco, 2018</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Total Economic Avoided Costs</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">133,803.45€</td>
          <td class="align-middle">133,808.85€</td>
          <td class="align-middle"></td>
        </tr>
        <tr>
          <th colspan="6">Social</th>
        </tr>
        <tr>
          <td class="align-middle">Acoustic Insulation</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            5,5-9,8 dB. Price: too small to make a difference. A lot of better
            sound isolating options exist on the market.
          </td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">
            <a
              href="https://www.bitc.org.uk/report/nature-based-solutions-to-the-climate-emergency-ignition-project/"
              >The IGNITION Project, 2020</a
            ><a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Mitigation of Urban Heat Island Effect</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            1-4,1°C decrease in outdoor temperature (taken into consideration in
            the environmental benefits)
          </td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S0360132316301895?casa_token=r_NdpXUHyB0AAAAA:vhnJmRoDw8QPf2ESpwNzlgXbG6KbDf6_tuCkxG8HUSQcKzbM-Ix-_HeUwNI85vdq6AQTMr2EdYc"
              >Sasima Charoenkit, Suthat Yiemwattana, 2016</a
            >
          </td>
        </tr>
        <tr>
          <td class="align-middle">Total Social Avoided Costs</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
        </tr>
        <tr>
          <td class="align-middle">
            Total Income (Environmental, Economic, Social)
          </td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">133,817.73€</td>
          <td class="align-middle">133,834.07€</td>
          <td class="align-middle"></td>
        </tr>
        <tr>
          <td colspan="6">Outcome (Real Costs)</td>
        </tr>
        <tr>
          <td class="align-middle">Maintenance</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            The annual cost needed to maintain the roof per square meter.
          </td>
          <td colspan="2" class="align-middle">18.98€</td>
          <td rowspan="3" class="align-middle">
            <a
              href="https://www.sciencedirect.com/science/article/pii/S1364032120304020?casa_token=xNP0-hRFU5oAAAAA:j_0DfSLqO4jFAfLfDnAmlFyPwIldZr0lc8y0PLLz2iks5H-BOR_tbBCsWoy1WZOznq36q0s-2Ow"
              >Maria Manso, Inês Teotónio, Cristina Matos Silva, Carlos Oliveira
              Cruz, 2021
            </a>
          </td>
        </tr>
        <tr>
          <td class="align-middle">Investment Cost</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            The cost needed to construct the wall per square meter. A wide range
            has been given; this is because the costs depend on the façade
            surface and height, location, connections, etc
          </td>
          <td class="align-middle">408.00€</td>
          <td class="align-middle">1,091.00€</td>
        </tr>
        <tr>
          <td class="align-middle">Disposal</td>
          <td class="align-middle"></td>
          <td class="align-middle">
            The one-off cost to dispose of the green roof.
          </td>
          <td colspan="2" class="align-middle">239.00€</td>
        </tr>
        <tr>
          <td class="align-middle">Total Outcome</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle">665.98€</td>
          <td class="align-middle">1,091.00€</td>
          <td class="align-middle"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
