<img class="bg" src="/assets/img/background.jpg" alt="">
<div class="container mt-5">
    <div class="hero">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-5 fw-bold">GrowGreen</h1>
                <h3 class="mt-4">
                    Creating a simple, comprehensive<br/>
                    guideline that can be used for the<br/>
                    decision-making of NBS.
                </h3>
                <a class="btn btn-primary btn-lg mt-5" routerLink="/nbs" role="button">Choose NBS</a>
            </div>
        </div>
    </div>
</div>
