<div class="container mt-5">
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/assets/img/green-roof.jpg" alt="Building with plants on the rooftop">
                <div class="card-body text-center">
                    <a class="card-title stretched-link" routerLink="/green-roof">Green Roof</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/assets/img/green-roof.jpg" alt="Building with plants on the rooftop">
                <div class="card-body text-center">
                    <a class="card-title stretched-link">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/assets/img/green-roof.jpg" alt="Building with plants on the rooftop">
                <div class="card-body text-center">
                    <a class="card-title stretched-link">Coming Soon</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/assets/img/green-roof.jpg" alt="Building with plants on the rooftop">
                <div class="card-body text-center">
                    <a class="card-title stretched-link">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>
</div>
